@model CreateNotificationDto
@{
    ViewData["Title"] = "CreateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bildirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form method="post">
						<div class="card-header">
							<div class="card-title">Yeni Bildirim Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Bildirim Türü</label>
								<input type="text" class="form-control" asp-for="Type" id="notificationtype">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Bildirim İkonu</label>
								<input type="text" class="form-control" asp-for="Icon" id="notificationtype">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="categoryname">Bildirim Açıklaması</label>
								<input type="text" class="form-control" asp-for="Description" id="notificationtype">
							</div>
						</div>
						<div class="card-action">
							<button type="submit" class="btn btn-primary">Bildirimi Ekle</button>
							<button type="reset" class="btn btn-danger">İptal Et</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>