@model CreateDiscountDto
@{
	ViewData["Title"] = "CreateDiscount";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Günün İndirim İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form method="post">
						<div class="card-header">
							<div class="card-title">Yeni İndirim Bilgisi Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="name">Ürün</label>
								<input type="text" class="form-control" asp-for="DiscountTitle" id="name">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Phone">İndirim Oranı</label>
								<input type="text" class="form-control" asp-for="DiscountAmount" id="Phone">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Phone">Ürün Görseli</label>
								<input type="text" class="form-control" asp-for="DiscountImageUrl" id="Phone">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Description">Açıklama</label>
								<textarea rows="5" class="form-control" asp-for="DiscountDescription" id="Description"></textarea>
							</div>
						</div>
						<div class="card-action">
							<button type="submit" class="btn btn-primary">İndirim Oluştur</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

